{% extends "admin/base.html" %}
{% load static %}
{% block extrastyle %}
<link href="{% static 'css/admin_extra.css'%}" rel="stylesheet" type="text/css" media="screen,projection" />
{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        TinkoffAlerts administration
    </a><i style="font-size:14px">v. {{CURRENT_VERSION}}</i>
</h1>

{% endblock %}

{% block nav-global %}{% endblock %}
